@page
@using DotNetGram.Models.Interfaces
@inject IPost  PostService

@{ 
    var posts = await PostService.GetPosts();
    Layout = "_Layout";
}
@foreach  (var post in posts)
{
    <section class="post-container">
        <div class="img-contain">
            <img src="@post.Image" />
        </div>
        <h2>Author: @post.Author</h2>
        <p> @post.Description</p>

        <p><a asp-page="/Posts/Index" asp-route-id="@post.ID">Get Details</a></p>
     </section>
}

<h4><a asp-page="/Posts/Manage" asp-route-id="null">Add New Post</a></h4>

