@page "{id}"
@model DotNetGram.Pages.Posts.IndexModel
@{
}

<section>
    <img src="@Model.Post.Image" />
    <h3> Author: @Model.Post.Author</h3>
    <p> Description: @Model.Post.Description</p>
</section>

<a asp-page="/Posts/Manage" asp-route-id="@Model.Post.ID">Edit Post</a>
