@page "{id}"
@model DotNetGram.Pages.Posts.ManageModel
@{
}

<h1>Manage Post</h1>

<img src="@Model.Post.Image" />
<form method="post">
    <input type="hidden" asp-for="Post.Image" value="https://via.placeholder.com/150">
    <input type="hidden" asp-for="Post.ID" value="@Model.Post.ID">
    <label asp-for=Post.Author>Author</label>
    <input type="text" asp-for="Post.Author" />

    <label asp-for=Post.Description>Description</label>
    <input type="text" asp-for="Post.Description" />

    <button type="submit">Save Changes</button>
    <button type="submit" asp-page-handler="Delete">Delete Post</button>

</form>

