@page "{id}"
@model DotNetGram.Pages.Posts.ManageModel
@{
    Layout = "_Layout";
}

<section class="post-container">
    <h4>Manage Post</h4>
    <img src="@Model.Post.Image" />
    <form method="post">
        <input type="hidden" asp-for="Post.Image" value="https://via.placeholder.com/250">
        <input type="hidden" asp-for="Post.ID" value="@Model.Post.ID">
        <div class="form-container">
            <label asp-for=Post.Author>Author</label>
            <input type="text" asp-for="Post.Author" />
        </div>
        <div class="form-container">
            <label asp-for=Post.Description>Description</label>
            <textarea rows=4 asp-for="Post.Description"></textarea>
        </div>
        <div class="form-container">
           <button type="submit">Save Changes</button>
            <button type="submit" asp-page-handler="Delete">Delete Post</button>
        </div>

    </form>
</section>

